{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="hamburger" id="hamburger">&#9776;</div>
    <div class="sidebar" id="sidebar">
        <a href="{% url 'text-translation' %}">Text&nbsp;Translation</a>
        <a href="{% url 'text-replace' %}">Text&nbsp;Replace</a>
        <a href="{% url 'text-correction' %}">Text&nbsp;Correction</a>
        <a href="{% url 'extract-patterns' %}">Extract&nbsp;Patterns</a>
    </div>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand mx-auto" style="margin-top: 12px;  text-decoration: none;font-size: 40px;" href="{% url 'base' %}">BasicLingua</a>
        </div>
    </nav>
    
    {% block intro %}
    <div class="intro-container">
        <p>
            This is a demo of how the BasicLingua works.
        </p>
    </div>
    
    {% endblock intro %}

    <div style="margin-top: 30px;" class="container">
        {% block content %}

        {% endblock content %}
    </div>

    {% block api_form %}
    <div style="margin-top: 100px;" class="container text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="yellow">
                    <h1 style="font-size: 25px;">Enter Your API Key</h1>
                    <form id="api-key-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="api_key_input" placeholder="Enter Your API Key" value="{{ api_key }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Save API Key</button>
                        <button id="clear-cache-button" class="btn btn-secondary">Clear API key from cache</button>

                    </form>
                    <div id="message" style="display: none;"></div> 
                </div>
            </div>
        </div>
    </div>
    
    {% endblock api_form %}

    <script>

            const sidebar = document.getElementById('sidebar');
            const hamburger = document.getElementById('hamburger');

            hamburger.addEventListener('mouseenter', openNav);
            sidebar.addEventListener('mouseleave', closeNav);

            function openNav() {
                sidebar.style.width = '200px';
                hamburger.style.display = 'none';
            }

            function closeNav() {
                sidebar.style.width = '0';
                hamburger.style.display = 'block';
            }

            document.getElementById("api_key_input").value = localStorage.getItem("api_key") || "";

            document.getElementById("api-key-form").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var apiKey = document.getElementById("api_key_input").value;
                localStorage.setItem("api_key", apiKey); 
                
                document.getElementById("message").innerHTML = "API key saved!"; 
                document.getElementById("message").style.display = "block"; 

                setTimeout(function() {
                    document.getElementById("message").style.opacity = "0";
                    setTimeout(function() {
                        document.getElementById("message").style.display = "none";
                    }, 1000);
                }, 3000); 
                

            });

            document.getElementById("clear-cache-button").addEventListener("click", function(event) {
                event.preventDefault();
                localStorage.removeItem("api_key");
                document.getElementById("api_key_input").value = "";
                document.getElementById("message").innerHTML = "API key cleared from cache!";
                document.getElementById("message").style.display = "block"; 

                setTimeout(function() {
                    document.getElementById("message").style.opacity = "0";
                    setTimeout(function() {
                        document.getElementById("message").style.display = "none";
                    }, 1000);
                }, 3000);
            });

                document.querySelector('a[href="{% url "text-translation" %}"]').addEventListener("click", function(event) {
                if (!document.getElementById("api_key_input").value.trim()) {
                    event.preventDefault();
                    alert("Please enter your API key before accessing the Text Translation feature!");
                }
            });

            document.querySelector('a[href="{% url "text-replace" %}"]').addEventListener("click", function(event) {
                if (!document.getElementById("api_key_input").value.trim()) {
                    event.preventDefault();
                    alert("Please enter your API key before accessing the Text Replace feature!");
                }
            });

            document.querySelector('a[href="{% url "text-correction" %}"]').addEventListener("click", function(event) {
                if (!document.getElementById("api_key_input").value.trim()) {
                    event.preventDefault();
                    alert("Please enter your API key before accessing the Text Correction feature!");
                }
            });

            document.querySelector('a[href="{% url "extract-patterns" %}"]').addEventListener("click", function(event) {
                if (!document.getElementById("api_key_input").value.trim()) {
                    event.preventDefault();
                    alert("Please enter your API key before accessing the Extract Patterns feature!");
                }
            });
    </script>
</body>
</html>
